.qvvtb	{
	margin-bottom: 200px;
	&__title {
		font-family: "Gotham Book";
		font-size: 26px;
		text-transform: uppercase;
		color: $primary;
		text-align: center;
		margin-bottom: 30px;
	}
	&__carousel {
		.carousel-img {
			width: 285px !important;
			height: auto;
			img {
				width: 100%;
			}
		}
		.slick-dots {
			text-align: center;
			margin-top: 30px;
			li {
				display: inline-block;
			}
		}
		.slick-arrow {
			display: none !important;
		}
	}
	&__price {
		margin-top: 10px;
		span {
			display: inline-block;
			font-size: 16px;
			color: $mine-shaft;
			width: 50%;

		}
		.colors-prateleira {
			display: inline-block;
		    width: 48%;
		    text-align: right;				
			li {
				display: inline-block;
			}
			&__icon {
				width: 13px;
				height: 13px; 
				display: block;
				border-radius: 50%;
				&--fucsia {
					background: #6B85C1;
				}
				&--pink {
					background: #A9095E;
				}
				&--orange {
					background: #A14830;
				}
				&--black {
					background: $black;
				}					
			}
		}
	}
}