//cor
$black: #000;
$white: #fff;
$error: #f00;
$gray: #999;
$gray-dark: #171717;
$gray-light: #cdcdcd;
$gray-lighter: #f1f1f1;
$dove-gray: #686868;
$cod-gray: #131313;
$silver: #CCCCCC;
$burning-sand: #DE8F75;
$cadet-blue: #AEB6C1;
$mine-shaft: #202020;
$primary: $burning-sand;
$secondary: $dove-gray;
