.footer 
	.footer__container
		.container
			.footer__social
				.social-icons
					a.social-icons__link(href="#")
						i.icon-facebook
							include ../svg/icon-facebook.svg
					a.social-icons__link(href="#")
						i.icon-facebook
							include ../svg/icon-instagram.svg	
					a.social-icons__link(href="#")
						i.icon-facebook
							include ../svg/icon-pinterest.svg											
				.social-certificates
			.footer__menu
			.footer__menu.footer__menu--lg
			.footer__menu
			.footer__news
	.footer__copyright