.footer 
	.footer__container
		.container
			.footer__social
				.social-icons
					a.social-icons__link(href="#")
						i.icon-facebook
							include ../svg/icon-facebook.svg
					a.social-icons__link(href="#")
						i.icon-facebook
							include ../svg/icon-instagram.svg	
					a.social-icons__link(href="#")
						i.icon-facebook
							include ../svg/icon-pinterest.svg											
				.social-certificates
					a.social-certificates__item(href='#')
						img.vtex-pci(width="92px" height="auto" src="../img/vtex-pci.jpg")
					a.social-certificates__item(href='#')
						img.selo-ebit(width="54px" height="auto" src="../img/selo-ebit.jpg")
			.footer__menu
				.footer-menu
					ul.footer-menu__list
						li.footer-menu__item.footer-menu__item--title
							h3 Institucional
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| A Marca
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Lojas
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Contato			
				.footer-menu.footer-menu--lg
					ul.footer-menu__list
						li.footer-menu__item.footer-menu__item--title
							h3 Informações
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Formas de Pagamento
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Trocas e Devoluções 
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Cuidados Com o Produto				
				.footer-menu.footer-menu--lg
					ul.footer-menu__list
						li.footer-menu__item.footer-menu__item--title
							h3 conheca
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Franquias e Multimarcas
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Trabalhe com a Gente
						li.footer-menu__item
							a.footer-menu__link(href='#')
								| Procon-RJ				
			.footer__news
				form.newsletter
					h3.newsletter__title assine nossa news 
					label Nome
					input.newsletter__input(type='text')
					input.newsletter__input(type='text', placeholder='Email')
					button.newsletter__btn(type='submit')
						| enviar
	.footer__copyright
		.copyright-sign
			p.copyright-sign__text 
				| Via Mia | V. Milano Centro Comercio de Bolsas Eireli - EPP.
			p.copyright-sign__text 	
				| Av.das Américas, 500 - bloco 20, loja 126 - Barra da Tijuca - Rio de Janeiro - RJ - CEP: 22640-100
			p.copyright-sign__text 	
				| CNPJ: 05.292.288/0002-10 - I.E: 86.732.548 - E-mail: ecommerce@viamia.com.br
		.copyright-logo
			i.copyright-logo__icon
				include ../svg/icon-original-white.svg					