block vars
  - var pageTitle = ''
  - var bodyClass = 'home'

doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", lang="pt-br")
   
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="format-detection", content="telephone=no")
    link(href="../css/style.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="../js/slick.js" type="text/javascript")
    script(src="../js/originalio.js" type="text/javascript")

    block head

  body(class= bodyClass)
    
    header
      include ./Header

    main
      block content
        .container
          .breadcrumb
            span Home / 
          .product
            .product__image
              ul.product__thumbs
                li
                  a(href="#")
                    span Vídeo
                    i
                      include ../svg/icon-play-circle.svg
                li                
                  .carousel
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")
                    .carousel-img
                      img(src="../img/prod02.jpg")                                                                       
              img.product__image-main(width="430px" height="auto" src="../img/prod02.jpg")
            .product__info
              .product-info
                h3.product-info__name rasteira tira dedo
                .product-info__cod RT 0568 | 03.07.0653
                .product-info__price
                  .product-info__price--de R$ 69,00
                  .product-info__price--por R$ 55,20
                  .product-info__price--parc Ou 6x de R$9,20
                .product-info__color
                  .color-info
                    span Cor:
                    .color-info__name (Fucsia)
                  ul.color-btns
                    li
                      button.color-btns__button.color-btns__button--pink
                    li
                      button.color-btns__button.color-btns__button--fucsia.color-btns__button--select
                    li
                      button.color-btns__button.color-btns__button--orange
                    li
                      button.color-btns__button.color-btns__button--black
                .product-info__size
                  .size-info
                    span Tamanho:
                    .size-info__num (37)
                  ul.size-btns
                    li
                      button.size-btns__button
                        | 34
                    li
                      button.size-btns__button
                        | 35
                    li
                      button.size-btns__button
                        | 36
                    li
                      button.size-btns__button.size-btns__button--select
                        | 37 
                    li
                      button.size-btns__button
                        | 38
                    li
                      button.size-btns__button
                        | 39
                    li
                      button.size-btns__button
                        | 40
                    li
                      button.size-btns__button
                        | 41
                    li
                      button.size-btns__button
                        | 42
                .product-info__buy
                  button.buy-btn.js-modal-open adicionar à sacola
                .product-info__description
                    p Rasteira em atanado soft com tira no dedo e fechamento de fivela. Possui sola sempre na cor do cabedal.
          .qvvtb
            h3.qvvtb__title Quem viu viu também
            .qvvtb__carousel
              .carousel-img
                img(src="../img/prod02.jpg")
                .qvvtb__price
                  span R$ 204,90
                  ul.colors-prateleira
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--fucsia
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--pink
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--orange
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--black               
              .carousel-img
                img(src="../img/prod03.jpg")
                .qvvtb__price
                  span R$ 204,90
                  ul.colors-prateleira
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--fucsia
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--pink
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--orange
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--black            
              .carousel-img
                img(src="../img/prod04.jpg")
                .qvvtb__price
                  span R$ 204,90
                  ul.colors-prateleira
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--fucsia
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--pink      
              .carousel-img
                img(src="../img/prod01.jpg")
                .qvvtb__price
                  span R$ 204,90
                  ul.colors-prateleira
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--fucsia
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--black
              .carousel-img
                img(src="../img/prod04.jpg")
                .qvvtb__price
                  span R$ 204,90
                  ul.colors-prateleira
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--orange
                    li
                      span.colors-prateleira__icon.colors-prateleira__icon--black                    
              .carousel-img
                img(src="../img/prod01.jpg")
                .qvvtb__price
                  span R$ 204,90
                  ul.colors-prateleira
                    li
                      span.colors-prateleira__icon
                    li
                      span.colors-prateleira__icon
                    li
                      span.colors-prateleira__icon
                    li
                      span.colors-prateleira__icon
        include ./Modal
    footer
      include ./Footer
    
    block scripts

