.modal
	img(src="../img/prod02.jpg")
	i.icon-close
		include ../svg/icon-close.svg
	span.sucess adicionado com sucesso!
	button.finish-btn finalizar compra
	button.keepbuy-btn Continuar Comprando
.overlay-modal
